@theme {
        --color-clifford: #da373d;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* navber */
.navber{
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.navber-logo{
    font-size: 2rem;
    font-weight: 700;
}
.navber-list{
    display: flex;
    gap: 30px;
}
.navber-btn{
    width: 144px;
    height: 35px;
    border-radius: 20px;
    padding: auto 16px ;
}
.humberger{
    display: none;
    width: 24px;
    height: 24px;
}
/* header */ 
.header-container{
    max-width: 1200px;
    margin: 100px auto;
}
#header-container{
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position-y: 35%;
    background-repeat: no-repeat;
}
.header-container{
    
}
.bg{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 10%;
}
.header-img img{
    margin: 0 auto;
    padding: 8%;
    overflow: hidden;
    position: relative;
}

.new{
    width: 5%;
    color: black;
    background-color: #00FF88;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 35px;
    position: absolute;
    top: 35%;
    left: 55%;
}



.header{
    color: azure;
}
.header-pragraph{
    text-align: center;
}
.header-pragraph h2{
    font-size: 68px;
    font-weight: bolder;
}
.header-pragraph p{
    font-size: 1rem;
    margin-bottom: 20px ;
    color: rgb(181, 186, 193);
}
.btn-cntent{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-1{

    width: 17%;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 35px;
}
.btn-2{
    border: 2px solid #00FF88;
    width: 13%;
    color: #00FF88;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 35px;
}
/* Podcast-container */
.Podcast-container{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}
.Podcast-pragraph{
    text-align: center;
    margin-bottom: 70px;
}
.Podcast-pragraph h2{
    font-size: 3rem;
    font-weight: bold;
    color: aliceblue;
}
.Podcast-pragraph p{
    color: rgb(171, 174, 177);
    width: 59%;
    margin: 20px auto;
}
.card-box{
    display: grid;
    border-top: 1px solid rgba(78, 77, 77, 0.342);
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding: 60px;
}
.card-2{
    width: 100%;
    border-radius: 40px;
    margin: 50px auto 0 auto;
    text-align: center;
}
.card-2 h2{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 700;
}
.card-2 p{
    color: rgb(171, 174, 177);
}


/* grid-container */

.bk{
 background-color: #2d1649a1;
}
.grid-container{
   
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.grid-container img{
    width: 60px;
    height: 60px;
}
.grid-container h4{
    color: aliceblue;
    font-size: 1.6rem;
    font-weight: bold;
}
.grid-container p{
    color: rgb(177, 171, 171);
    font-size: 1rem;
}

.card{
    background-color: #2d174a9f;
    padding: 40px;
    border-radius: 40px;
    margin-top: 50px;
}
#card-1{
    align-items: center;
    align-content: center;
}
#img-four {
    width: 30%;
    height: auto;
    display: flex;
    margin-right: 40%;
}

.iframe{
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
}
.iframe h2{
    color: aliceblue;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.iframe-box{
   display: flex;
   justify-content: space-between;
   gap: 35px;
   
}

.iframe-card{
    background-color: #2d174a9f;
    border-radius: 25px;
}
.iframe-card iframe{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.card-pragraph{
    padding: 25px;
}
.iframe-card h3{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.iframe-card p{
    color: #FFFFFF;
    margin-bottom: 20px;
}
.iframe-card h4{
    color: #00FF88;
    font-size: 16;
    font-weight: 600;
}



.host{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.host h2{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.host-box{
    background-color: #2d174a9f;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 15px;
    padding: 40px;
}
.host-img img{
    width: 350px;
    height: 180px;

}
.host-pragraph h3{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.host-pragraph p{
    font-size: 1rem;
    list-style: 24px;
    color: rgb(185, 180, 175);
    margin-bottom: 15px;
}

.in{
    border:1px solid #533C72;
    padding: 10px;
    border-radius: 50%;
}

.footer{
    max-width: 1200px;
    margin: 0 auto;
}
.footer h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}
.footer-content{
    color: #968989;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.text{
    color: #ada5a5;
    text-align: center;
    margin-top: 15px;
}
#last{
    width: 100%;
    background-image: url(./assets/footer-bg.png);
    margin-bottom: 150px;
    background-position: center;
    margin-top: 100px;
}
#btn{
    animation: btn 3s ease-in-out infinite;
}
@keyframes btn {
    0%{
       transform: translateX(0px);
    }
    50%{
       transform: translateX(20px);
    }
    100%{
       transform: translateX(0px);
    }
}

.microphone-icon { 
    animation: float 3s ease-in-out infinite; 
}
@keyframes float {
    0% {
        transform: translateY(0px); 
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px); 
    }
}


.button:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #7B42F6;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes neonGlow {
    from {
        box-shadow: 0 0 5px #7B42F6, ;
    }
    to {
        box-shadow: 0 0 10px #7B42F6, 0 0 40px #7B42F6, 0 0 50px #7B42F6;
    }
}








@media  screen and (max-width:576px) {
body{
    width: 100%;
    padding: 0 20px;
}
/* navber */
.navber{
    width: 100%;
}

.humberger{
    display: flex;
    
}
#btn {
    display: none;
    
}
.list{
    display: none;
}

/* header-section */

.header-container{
    margin: 0px auto;
    padding: 0 10px;
    /* display: none; */
}


.header-container{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-position-y: 0%;
    
    
}
.bg{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 22%;
    height: 10%;
}
.header-img img{
    margin: 0 auto;
    padding: 7%;
    overflow: hidden;
    position: relative;
}

    .header{
    width: 100%;
    text-align: center;
    /* display: none; */
    }
    .btn-cntent{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        text-align: center;
    }
    .btn-1,.btn-2 {
    width: 37%;
    font-size: 15px;
    font-weight: 500;
    }
    
    .header-pragraph h2{
    font-size: 2,4rem;
    text-align: center;
    }
.header-pragraph p{
    width: 60%;
    margin: 15px auto;
}
    .new{
        width: 15%;
    top: 18%;
    left: 55%;
}






.card-box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    gap: 25px;
    margin: 0 auto;

}

.card-box h2{ 
    font-size: 48px;

}
.Podcast-container{
    /* display: none; */
}

.Podcast-pragraph h2{
    font-size: 48px;
}
.Podcast-pragraph p{
    width: 80%;
}

.bk{
    width: 100%;
}
.grid-container{
   display: block;
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
    /* display: none; */
}
.grid-container h2{
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}
.card{
    width: 100%;
    padding: 40px;
    border-radius: 40px;
    margin-top: 50px;
}
#card-box{
    column-gap: normal;
    width: 100%;
}
.card p{
    width: 80%;
}



.iframe-box{
    width: 100%;
    display: block;
    /* display: none; */
    
}
.iframe-card{
    margin-top: 20px;
}


.host-box{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;     
    padding: 20px;
    /* display: none; */
}
.host-img img{
    width: 200px;
}

#logo-img{

    display: flex;
    justify-content: center;
    
}

.footer-content{
    display: grid;
    margin: 0 70px;
    grid-template-columns: repeat(2,1fr);
    column-gap: 15px;
    row-gap: 15px;
}
#left{
    margin-left: 15px;
}
#last{
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
}


